.manu-frame {
    border: 2px solid white;
    width: 90%;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.grid-menu {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.menu-options {
    text-decoration: none;
    color: white;
    cursor: pointer;
    z-index: 1;
}